@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Barlow', sans-serif;
    display: flex;
    justify-content: center;
}



/************************************************RESET CSS**************************************************/

h1, h2, h3 { font-weight: 900; }

h4 { font-weight: 700; }

p { font-weight: 500; }

.breakpoint-size {
    width: 375px;
    background: white;
}

/*************************************************HEADER***************************************************/
.header {
    display: flex;
    align-items: center;
    margin-top: 23px;
}

.logo > img { margin-left: 24px; }

.pre-order_lightcontainer {
    width: 150px;
    height: 48px;
    border-radius: 8px;
    background-color: #e8eff2;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 136.5px;
}

.pre-order_lightcontainer > h4 {
    font-size: 16px;
    text-transform: uppercase;
    color: #162542;
}



/*******************************************************MAIN TOP****************************************************/

.main-top {
    margin-top: 64px;

    display: flex;
    flex-direction: column;
}

.texts > h1 {
    width: 327px;
    height: 96px;
    font-size: 48px;
    line-height: 48px;
    margin-left: 24px;
    margin-right: 24px;
    text-transform: uppercase;
    color: #162542;
}

.texts > p {
    width: 327px;
    height: 78px;
    font-size: 16px;
    line-height: 26px;
    margin-left: 24px;
    margin-right: 24px;
    color: #7b8bad;
    margin-top: 32px;
}

.pre-order_darkcontainer {
    width: 150px;
    height: 48px;
    border-radius: 8px;
    background-color: #f16718;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 24px;
}

.pre-order_darkcontainer > h4 {
    font-size: 16px;
    text-transform: uppercase;
    color: white;
}

.release > h4 {
    font-size: 16px;
    text-transform: uppercase;
    color: #7b8bad;

    margin-left: 24px;
}

.main-top_containers {
    display: flex;
    align-items: center;

    margin-top: 32px;
}

.image1 {
    position: relative;
    overflow: hidden;
}

.picture1_mobile {
    max-width: 100%;
    margin-left: 24px;
    margin-top: 64px;
    border-radius: 20px;
}



/*********************************************************MAIN-BOTTOM***************************************************/

.main-bottom {
    margin-top: 24px;
}

.image2 {
    position: relative;
    overflow: hidden;
    background-color: #f16718;
    width: 107px;
    height: 193px;
    border-radius: 0px 20px 20px 0px;
}

.picture2_mobile {
    width: 129px;
    height: 193px;
    margin-left: -22px;
    border-radius: 20px;
    
    opacity: 0.3;
}

.image3 {
    position: relative;
}

.picture3_mobile {
    width: 220px;
    height: 193px;
    margin-left: 24px;
    border-radius: 20px;
}

.two-pictures {
    display: flex;
}

.main-bottom_texts {
    margin-top: 75px;
}

.main-bottom_texts > h2 {
    width: 255px;
    height: 108px;
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
    font-size: 32px;
    line-height: 36px;
    text-transform: uppercase;
    color: #162542;
}

.main-bottom_texts > p {
    width: 327px;
    height: 104px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 24px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #7b8bad;
}



/********************************************************ASIDE*********************************************************/

.aside {
    margin-top: 111px;
}

.box {
    margin-bottom: 64px;
}

.aside-icon {
    width: 65px;
    height: 65px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f16718;
    border-radius: 16px;
    position: relative;
    margin-left: 155px;
}

.box > h3 {
    width: 327px;
    height: 56px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #162542;
    margin-left: 24px;
    margin-top: 48px;
}

.box > p {
    width: 327px;
    height: 104px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #7b8bad;

    margin-left: 24px;
    margin-top: 24px;
}




/****************************************************FOOTER*********************************************************/

.footer > h4 {
    text-align: center;
    font-size: 16px;
    color: #7b8bad;
    margin-bottom: 24px;
}

.footer > h4 > span {
    font-size: 16px;
    color: #7b8bad;
    font-weight: 500;
}






/********************************************************TABLET SIZE****************************************************/

@media only screen and (max-width: 767px) {
    .picture1_tablet { display: none; }
    .picture2_tablet { display: none; }
    .picture3_tablet { display: none; }
}

@media only screen and (min-width: 768px) {

    /******************RESET CSS****************/

.breakpoint-size { width: 768px; }




    /**********************HEADER**************/

.header { margin-top: 40px; }

.logo > img { margin-left: 39px; }

.pre-order_lightcontainer {
    width: 175px;
    height: 58px;

    margin-left: 474px;
}

    /*********************MAIN TOP*************/

.main-top {
    margin-top: 62px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.texts > h1 {
    width: 339px;
    margin-left: 39px;
    margin-right: 0px;
}

.texts > p {
    width: 339px;
    margin-left: 39px;
    margin-right: 0px;
    margin-top: 34px;
}

.pre-order_darkcontainer {
    width: 175px;
    height: 58px;
    margin-left: 39px;
}

.release > h4 { margin-left: 37px; }

.main-top_containers {
    display: flex;
    align-items: center;
    margin-top: 32px;
}

.picture1_mobile { display: none; }

.picture1_tablet {
    width: 478px;
    height: 425px;
    border-radius: 20px;
    margin-left: 69px;
}




    /******************MAIN-BOTTOM**************/

.main-bottom { margin-top: 40px; }

.image2 {
    width: 214px;
    height: 320px;
    border-radius: 20px;
    margin-left: 39px;
}

.picture2_mobile,
.picture3_mobile { 
    display: none; 
}

.picture2_tablet {
    width: 214px;
    height: 320px;
    margin-left: 0px;
    border-radius: 20px;
    
    opacity: 0.3;
}

.picture3_tablet {
    width: 445px;
    height: 320px;
    margin-left: 30px;
    border-radius: 20px;
}

.main-bottom_texts {
    margin-top: 72px;
    display: flex;
    align-items: center;
}

.main-bottom_texts > h2 {
    margin-left: 39px;
    margin-right: 0px;
    text-align: left;
}

.main-bottom_texts > p {
    width: 398px;
    height: 78px;
    margin-left: 36px;
    margin-top: 0px;
    text-align: left;
}



    /**********************ASIDE*******************/

.aside {
    margin-top: 142px;
    padding-left: 39px;
    display: flex;
    flex-flow: row wrap;
}

.box { margin-bottom: 72px; }

.aside-icon { margin-left: 0px; }

.box > h3 {
    width: 339px;
    text-align: left;
    margin-left: 0px;
    margin-top: 40px;
}

.box > p {
    width: 281px;
    text-align: left;
    margin-left: 0px;
}





/*************************************    TABLET FOOTER == MOBILE FOOTER     *****************************************/
}








/*****************************************************DESKTOP SIZE*****************************************************/

@media only screen and (max-width: 1439px) {
.picture1_desktop,
.picture2_desktop,
.picture3_desktop,
.kvadrati-top,
.kvadrati-bottom  {

    display: none;
}
}



@media only screen and (min-width: 1440px) {
     /******************RESET CSS****************/

.breakpoint-size { 
    width: 1440px; 
    position: relative;
    overflow: hidden;
}



    /**********************HEADER**************/

.header { margin-top: 55px; }

.logo > img { margin-left: 165px; }
    
.pre-order_lightcontainer { margin-left: 895px; }



        /*********************MAIN TOP*************/

.main-top {
    margin-top: 83px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.texts > h1 {
    width: 445px;
    margin-left: 165px;
}

.texts > p {
    width: 445px;
    margin-left: 165px;
    margin-top: 24px;
}

.pre-order_darkcontainer { margin-left: 165px; }

.release > h4 { margin-left: 40px; }

.main-top_containers { margin-top: 40px; }

.picture1_tablet { display: none; }

.picture1_desktop {
    width: 540px;
    height: 480px;
    border-radius: 20px;
    margin-left: 125px;
}

.kvadrati-top {
    width: 255px;
    height: 240px;
    border-radius: 20px;
    background: #E8EFF2;
    margin-top: -244px;
    position: absolute;
    margin-left: 1305px;
} 



    /******************MAIN-BOTTOM**************/

.main-bottom { 
    margin-top: 30px; 
    display: flex;
    align-items: center;
}

.image2 {
    width: 255px;
    height: 480px;
    margin-left: 165px;
}
    
    
.picture2_tablet,
.picture3_tablet {
    display: none;
}
    
.picture2_desktop{
    width: 255px;
    height: 480px;
    opacity: 0.3;
}

.picture3_desktop {
    width: 445px;
    height: 480px;
    border-radius: 20px;
    margin-left: 30px;
}

.kvadrati-bottom {
    width: 255px;
    height: 236px;
    border-radius: 20px;
    position: absolute;
    background: #E8EFF2;
    margin-left: -120px;
    margin-top: 244px;
}

.main-bottom_texts {
    margin-top: 0px;
    margin-left: 125px;
    display: flex;
        flex-direction: column;
}
    
.main-bottom_texts > h2 {
    margin-left: -18px;
    margin-right: 0px;
}
    
.main-bottom_texts > p {
    width: 255px;
    height: 130px;
    margin-left: 0px;
    margin-top: 27px;
}




        /**********************ASIDE*******************/

.aside {
    margin-top: 168px;
    padding-left: 165px;
    display: flex;
    flex-flow: row wrap;
}

.box { 
    margin-bottom: 128px; 
    margin-left: 30px;
}

.aside-icon { margin-left: 0px; }

.box > h3 {
    width: 255px;
    margin-top: 48px;
}

.box > p { width: 255px; }

}
